.cookieConsentContainer {
  z-index: 999;
  width: 450px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;
  background: #232323;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.cookieConsentContainer .cookieTitle a {
  font-family: OpenSans, arial, "sans-serif";
  color: #ffffff;
  font-size: 22px;
  line-height: 20px;
  display: block;
}
.cookieConsentContainer .cookieDesc p {
  margin: 0;
  padding: 0;
  font-family: OpenSans, arial, "sans-serif";
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  display: block;
  margin-top: 10px;
}
.cookieConsentContainer .cookieDesc a {
  font-family: OpenSans, arial, "sans-serif";
  color: #ffffff;
  text-decoration: underline;
}
.cookieConsentContainer .cookieButton a {
  display: inline-block;
  font-family: OpenSans, arial, "sans-serif";
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  background: #d24040;
  box-sizing: border-box;
  padding: 12px 20px;
  text-align: center;
  transition: background 0.3s;
}
.cookieConsentContainer .cookieButton a:hover {
  cursor: pointer;
  background: #4d8022;
  color: #fff;
}
.link-cookie-policy {
  opacity: 0.6;
}
.link-cookie-policy:hover {
  opacity: 0.8;
}

@media (max-width: 980px) {
  .cookieConsentContainer {
    bottom: 0px !important;
    left: 0px !important;
    width: 100% !important;
  }
}
.cookieConsentContainer {
  opacity: 0.9;
  display: block;
  display: none;
}
